#MemToStart, #summonMGuide {
	top: 220px;
	left: 116px;
	width: 200px;
	height: 30px;
	border-radius: 6px;
}

#MemberLab {
	top: 120%;
	width: 1250px;
	height: 750px;
	border-top: 8px groove #26527C;
	border-radius: 10px;
	box-shadow: 0px 8px 2px black;
	opacity: 0;
	background: none;
}

#canv {
	background: url(../other/fireoff.png);
	width: 200px;
	height: 400px;
	bottom: 20px;
	right: 100px;
}

#visitor {
	bottom: 20px;
	right: 350px;
	width: 200px;
	height: 400px;
	background: #e0e0e0;
	border-radius: 10px;
	box-shadow: 0px 8px 2px black;
}

#mark {
	right: 600px;
	bottom: 40px;
	width: 170px;
	height: 350px;
	border: 5px groove #26527C;
	border-radius: 10px;
	box-shadow: 0px 8px 2px black;
	font: 14pt Tahoma, sans-serif;
	padding-left: 20px;
}

#task {
	width: 300px;
	top: 5%;
	left: 5%;
	height: 20%;
	box-shadow: 0px 8px 2px black;
	border-radius: 30px;
}

#control, #Herbs {
	height: 120px;
	width: 650px;
	border: 5px groove #26527C;
	border-radius: 10px;
	box-shadow: 0px 8px 2px black;
	top: 160px;
	left: 500px;
}

#control {top: 20px;}

.Arg {
	text-align: center;
	font: 13pt Tahoma, sans-serif;
	margin: 5px;
}

.Herb {
	background: #c0c0c0;
	border-radius: 10px;
	box-shadow: 1px 5px 2px black;
	background: #DDDDDD;
	margin: 8px;
	left: 13px;
}

#lock img {
	top: 20px;
	left: 90px;
	border-radius: 10px;
	box-shadow: 0px 8px 2px black;
}

#lock p {
	top: 260px;
	left: 80px;
	font: 16pt Impact, sans-serif;
}

.Herb:hover {box-shadow: 0px 25px 5px #33CCCC;}
#SH {margin-left: 80%;}
#TH, #FH {margin-left: 40%;}

#summon {
	margin-left: 53px;
	border-radius: 8px;
}

#lock {
	left: 0px;
	top: 350px;
	border-radius: 10px;
	box-shadow: 0px 8px 2px black;
	width: 400px;
	border-left: none;
	top: 320px;
	height: 400px;
}

#counter {
	bottom: 20px;
	right: 627px;
	width: 110px;
	height: 230px;
	border-radius: 10px;
	padding: 10px;
	font: 15pt, Impact, sans-serif;
}

#summonMGuide {
	top: 260px;
}

